{% extends "base.html" %}
{% block content %}

<table class="table table-striped">
    <caption>List of Action items</caption>
  <thead>

      <th scope="col">Name</th>
      <th scope="col">Created on</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>

    {% for item in todo%}
    <tr>
        <td><a class="article-title" href="{{ url_for('item', item_id=item.id) }}">{{ item.name}}</a></td>
        <td>{{ item.content}}</td>
        <td>{{ item.status}}</td>
        <td>{{ item.date_created}} </td>
      </tr>
      {% endfor %}
  </tbody>
{% endblock content %}
